<button mat-stroked-button routerLink="/person/{{ person.id }}">Back</button>

<form action="" class="example-form">
  <mat-form-field class="example-full-width">
    <h2>ID</h2>
    <input matInput placeholder="ID" type="text" name="id" id="id" value="{{ person.id }}" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <h2>First Name</h2>
    <input matInput placeholder="First Name" type="text" name="fname" id="fname" value="{{ person.fname }}" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <h2>Last Name</h2>
    <input matInput placeholder="Last Name" type="text" name="lname" id="lname" value="{{ person.lname }}" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <h2>Position</h2>
    <input matInput placeholder="Position" type="text" name="position" id="position" value="{{ person.position }}" />
  </mat-form-field>
</form>
