<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" />
</mat-form-field>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID. </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="fname">
    <mat-header-cell *matHeaderCellDef>First Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.fname }} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="lname">
    <mat-header-cell *matHeaderCellDef>Last Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.lname }} </mat-cell>
  </ng-container>

  <!-- View Column -->
  <ng-container matColumnDef="view">
    <mat-header-cell *matHeaderCellDef> View Person</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-stroked-button routerLink="/person/{{ element.id }}">View {{ element.name }}</button>
    </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="remove">
    <mat-header-cell *matHeaderCellDef> Remove? </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-stroked-button><mat-icon>close</mat-icon></button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
</mat-table>
