<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" />
</mat-form-field>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID. </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef> Status</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.status }} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="dateCreated">
    <mat-header-cell *matHeaderCellDef>Date Created</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.dateCreated | date }} </mat-cell>
  </ng-container>

  <!-- View Column -->
  <ng-container matColumnDef="view">
    <mat-header-cell *matHeaderCellDef> View Test</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-stroked-button routerLink="/test/{{ element.id }}">View {{ element.name }}</button>
    </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="complete">
    <mat-header-cell *matHeaderCellDef> Mark Completed </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-stroked-button><mat-icon>done</mat-icon></button>
    </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="remove">
    <mat-header-cell *matHeaderCellDef> Remove? </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-stroked-button><mat-icon>close</mat-icon></button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: displayedColumns"
    [ngClass]="{ green: row.status == 'Completed', 'light-green': row.status == 'Approved', lime: row.status == 'Processing', amber: row.status == 'Waiting' }"
  >
  </mat-row>
</mat-table>
