<div class="index-container">
  <mat-toolbar color="primary" class="toolbar">
    <div class="col-11">
      <p>
        <button mat-button (click)="sidenav.toggle()"><mat-icon>view_headline</mat-icon></button>
      </p>
    </div>

    <div class="col">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
      <mat-list>
        <mat-list-item>
          <mat-icon>home</mat-icon>
          <a routerLink=""> Home </a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon>assignment</mat-icon>
          <a routerLink="/tests"><b>Tests</b></a>
        </mat-list-item>
        <mat-list-item> <mat-icon>add</mat-icon> <a routerLink="/test/add"> Add </a> </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon>assignment</mat-icon>
          <a routerLink="/jobs"><b>Jobs</b></a>
        </mat-list-item>

        <mat-list-item> <mat-icon>add</mat-icon> <a routerLink="/job/add"> Add </a> </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon>person</mat-icon>
          <a routerLink="/persons"> <b>Persons</b></a>
        </mat-list-item>

        <mat-list-item><mat-icon>add</mat-icon> <a routerLink="/person/add"> Add </a></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon>description</mat-icon>
          <a routerLink="/documents"> <b>Documents</b></a>
        </mat-list-item>

        <mat-list-item> <mat-icon>add</mat-icon><a routerLink="/document/add"> Add </a></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon>description</mat-icon>
          <a routerLink="/inventory"> <b>Inventory</b></a>
        </mat-list-item>

        <mat-list-item> <mat-icon>add</mat-icon><a routerLink="/inventory/add"> Add </a></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon>description</mat-icon>
          <a routerLink="/orders"> <b>Orders</b></a>
        </mat-list-item>
        <mat-list-item> <mat-icon>add</mat-icon><a routerLink="/order/add"> Add </a></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon>calendar</mat-icon>
          <a routerLink="/calendar"> <b>Calendar</b></a>
        </mat-list-item>
        <mat-list-item> <mat-icon>add</mat-icon><a routerLink="/calendar/add"> Add </a></mat-list-item>
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item routerLink="/settings">
          <mat-icon>settings</mat-icon>
          <span> Settings</span>
        </button>
      </mat-menu>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
