<button mat-stroked-button routerLink="/persons">Back</button>
<button mat-stroked-button routerLink="/person/{{ person.id }}/edit">Edit</button>

<h2>ID</h2>
<p>
  {{ person.id }}
</p>

<h2>First Name</h2>
<p>
  {{ person.fname }}
</p>

<h2>Last Name</h2>
<p>
  {{ person.lname }}
</p>

<h2>Position</h2>
<p>
  {{ person.position }}
</p>
