ul {
  list-style-type: none;
}
body {
  font-family: Verdana, sans-serif;
}

/* Month header */
.month {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;

  /* Month list */
  ul {
    margin: 0;
    padding: 0;
  }

  ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  /* Previous button inside month header */
  .prev {
    padding-top: 10px;
    padding-bottom: 10px;

    a {
      color: white;
      text-decoration: none; /* no underline */
    }
  }

  /* Next button */
  .next {
    padding-top: 10px;
    padding-bottom: 10px;

    a {
      color: white;
      text-decoration: none; /* no underline */
    }
  }
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;

  li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
  }
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;

  li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: #777;
  }

  li a {
    color: blue;
    text-decoration: none; /* no underline */
  }

  /* Highlight the "current" day */
  li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important;
  }
}
