<div class="month">
  <ul class="row">
    <li class="col-1 prev"><a href="">&#10094;</a></li>
    <li class="col">
      {{ viewDate | date: "MMMM" }}<br /><span style="font-size:18px">{{ viewDate | date: "yyyy" }}</span>
    </li>
    <li class="col-1 next"><a href="">&#10095;</a></li>
  </ul>
</div>

<ul class="weekdays">
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
  <li>Su</li>
</ul>

<ul class="days">
  <li *ngFor="let index of numbers">
    <a href="">
      <span [class]="index == currentDay ? 'active' : ''"> {{ index }}</span>
    </a>
  </li>
</ul>
