<mat-list>
  <mat-list-item>
    <button mat-menu-item>
      documents works!
    </button>
    <button mat-button><mat-icon>close</mat-icon></button>
  </mat-list-item>
  <mat-list-item> Salt </mat-list-item>
  <mat-list-item> Paprika </mat-list-item>
</mat-list>
